.databricks/
build/
dist/
__pycache__/
*.egg-info
.venv/
.venv*
venv*
scratch/**
!scratch/README.md

.databricks
.devcontainer/

.vscode

databricks.yml
databricks_project.egg-info
warehouse/100_databricks_tool_matrix.md
